* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: antiquewhite;
}

section {
  display: flex;
  height: 100dvh;
  width: 100dvw;
  align-items: center;
}

.one {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto;
  background-color: white;
  border-radius: 50%;
  align-items: center;
  transition: 0.5s ease-in-out;
  animation: soosh 3s ease-in-out 1s;
}

.two {
  height: 200px;
  width: 200px;
  margin: auto;
  border-radius: 50%;
  background-color: black;
}

@keyframes soosh {
  0% {
  }
  25% {
    transform: scale(-2);
    background-color: red;
  }
  50% {
    transform: rotateX(60deg);

    background-color: rgb(96, 13, 13);
  }
  75% {
    transform: rotateX(60deg);

    background-color: rgb(53, 2, 2);
  }

  100% {
    transform: rotateX(60deg);
    background-color: transparent;
  }
}
